BACKEND_PORT=8000
FRONTEND_PORT=8080

SUPABASE_URL=
SUPABASE_KEY=
COHERE_KEY=
QDRANT_URL=
QDRANT_KEY=
GROQ_API_KEY=
SUPABASE_PROPOSAL_BUCKET=proposal-formats

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

VITE_BACKEND_BASE_URL=/api
VITE_GENERATE_PROPOSAL_BASE_URL=/api
VITE_LOGIN_ENDPOINT=/login
VITE_ONBOARD_COMPANY_ENDPOINT=/onboard-company
VITE_UPLOAD_PDF_ENDPOINT=/upload-pdf
VITE_GENERATE_PROPOSAL_ENDPOINT=/generate-proposal
VITE_CHECK_PROPOSAL_FORMAT_ENDPOINT=/check-proposal-format
VITE_PROCUREMENT_ORCHESTRATION_ENDPOINT=/procurement-orchestration
VITE_TRIGGER_PROCUREMENT_ORCHESTRATION_ENDPOINT=/trigger-procurement-orchestration
